<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Typing Test</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="terminal-window">
    <div class="terminal-header">
      <div class="terminal-title">
        Typing Test
      </div>
      <div class="terminal-buttons">
        <div class="terminal-button maximize"></div>
        <div class="terminal-button minimize"></div>
        <div class="terminal-button close"></div>
      </div>
    </div>
    <div class="terminal-body">
    <div class="terminal-output">
      <div id="text">
        <!-- typing text goes here -->
      </div>
    </div>
    <div class="terminal-input">
      <!-- input field goes here -->
    </div>
  </div>
  <div class="terminal-footer">
    <div class="credits">
      <p>© Created by: <a href="https://github.com/akib-89" target="_blank">Akibur Rahman</a></p>
    </div>
  </div>
  </div>
  <script src="/javascripts/typing-test.js"></script>
</body>
</html>