<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Typing Test</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="text"></div>
  <div id="input"></div>
  <script src="/javascripts/typing-test.js"></script>
</body>

</html>